html,
body{
  height: 100%;
}
body{
  background: #eeeeee;
  color: #333333;
}
.k-container{
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  align-items: stretch;
}
.k-link{
  text-decoration: none;
  color: #333;
  &:hover{
    text-decoration: underline;
    color: #67c23a;
  }
}
.k-font{
  color: #ffffff;
}
